* {
  margin: 0; /* Remove a margem padrão de todos os elementos */
  padding: 0; /* Remove o preenchimento padrão de todos os elementos */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

/* Estilo Geral do Body */
body {
  font-family: 'Noto Sans', sans-serif; /* Define a fonte padrão para o corpo da página */
  width: 100%; /* Largura total da página */
  height: 100%; /* Altura total da página */
  overflow-x: hidden; /* Evita rolagem horizontal indesejada */
  background-color: #fff; /* Cor de fundo leve para melhor visualização */
}

/* Centralização do Conteúdo */
.centralizar {
  max-width: 1200px; /* Define a largura máxima do conteúdo centralizado */
  width: 100%; /* Largura total do conteúdo centralizado */
  margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilo do Cabeçalho */
header {
  max-width: 100%; /* Largura máxima do cabeçalho */
  width: 100%; /* Largura total do cabeçalho */
  height: auto; /* Altura automática do cabeçalho */
  background-color: #ffffff; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
  display: flex; /* Define o layout flexível para o cabeçalho */
  flex-direction: column; /* Alinha os itens do cabeçalho em coluna */
  justify-content: center; /* Alinha horizontalmente ao centro */
  align-items: center; /* Alinha verticalmente ao centro */
  gap: 15px; /* Espaçamento entre os itens do cabeçalho */
  border-bottom: 1px solid #8a8a8a86; /* Linha de borda sutil na parte inferior */
  position: fixed; /* Fixa o cabeçalho no topo da página */
}

.container_principal {
  max-width: 100%; /* Largura máxima do contêiner principal */
  width: 100%; /* Largura total do contêiner principal */
  display: flex; /* Define o layout flexível para o contêiner principal */
  justify-content: space-between; /* Distribui os itens com espaço entre eles */
  align-items: center; /* Alinha verticalmente ao centro */
  margin: 0 auto; /* Centraliza horizontalmente */
  height: 55px; /* Altura do contêiner principal */
  padding: 10px 30px 0 30px; /* Adiciona algum preenchimento lateral */
}

.menu-and-logo-search{
  width: 100%;
  display: flex; /* Define o layout flexível para o menu, logo e busca */
  justify-content: space-between;
  gap: 15px; /* Espaçamento entre o menu, logo e busca */
  align-items: center; /* Alinha verticalmente ao centro */
}

.container_principal svg{
  width: 30px; /* Largura dos ícones SVG */
  fill: #979797; /* Cor de preenchimento dos ícones SVG */
}

.logo img {
  height: 60px; /* Altura da imagem do logo */
  margin-top: 8px; /* Margem superior da imagem do logo */
}

.talkGemini img{
 height: 40px; /* Altura da imagem do talkGemini */
}

/* Overlay de fundo escurecido */
.mobile-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Menor que o menu, para que fique atrás */
}

/* Overlay de fundo escurecido */
.mobile-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Menor que o menu, para que fique atrás */
}

/* Estilos para o menu móvel */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #ffffff; /* Fundo branco para o menu */
  color: #333; /* Texto cinza */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 1000; /* Maior que o overlay, para que fique em cima */
}

.mobile-menu.active {
  transform: translateX(0);
}

/* Estilos para o menu de navegação */
.mobile-menu nav {
  flex: 1;
}

.mobile-menu nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.mobile-menu nav ul li {
  border: none;
  height: auto;
}

.mobile-menu nav ul li.active a{
  color: #007bff;
}

.mobile-menu nav ul li.active{
  border: none;
}

.mobile-menu nav ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333; /* Texto cinza */
  background-color: #ffffff; /* Fundo branco para itens do menu */
  font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
  border: none;
}

/* Estilos para o botão de fechar o menu */
.close-menu {
  background: none;
  border: none;
  font-size: 2rem;
  color: #333; /* Cor do ícone de fechar */
  cursor: pointer;
  padding: 10px;
  align-self: flex-end;
}

/* Botão do menu */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* Estilo da Navegação */
.container_sub{
  height: 50px; /* Altura da barra de navegação */
  width: 100%; /* Largura total da barra de navegação */
  display: flex; /* Define o layout flexível para a barra de navegação */
  justify-content: space-between; /* Distribui os itens com espaço entre eles */
  align-items: center; /* Alinha verticalmente ao centro */
  background: linear-gradient(90deg, #076eff 50%, #4fabff, #ac87eb, #ee4d5d); /* Gradiente de fundo da barra de navegação */
  padding: 0px 30px 0 30px; /* Adiciona algum preenchimento lateral */
}

nav{
  height: 100%; /* Altura total do elemento de navegação */
}

/* Estilo dos Itens de Navegação */
nav > ul {
  height: 100%; /* Altura total da lista de navegação */
  list-style-type: none; /* Remove os marcadores da lista */
  display: flex; /* Exibe os itens de navegação em linha */
  gap: 15px; /* Espaçamento entre os itens de navegação */
}

nav > ul > li {
  height: 100%; /* Altura total dos itens da lista */
  position: relative; /* Necessário para posicionar o submenu */
  border-bottom: 2px solid #53a6ff00; /* Linha de borda sutil na parte inferior dos itens */
}

nav > ul > li > a {
  height: 100%; /* Altura total do link de navegação */
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #ffffffb3; /* Cor do texto dos links */
  font-size: 14px; /* Tamanho da fonte dos links */
  font-weight: 600; /* Peso da fonte dos links */
  padding: 10px 15px; /* Padding interno dos links */
  display: flex; /* Faz o link ocupar o bloco inteiro */
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: center; /* Alinha horizontalmente ao centro */
  transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

nav > ul > li:hover, nav > ul > li.active {
  border-bottom: 2px solid #fff; /* Linha de borda branca ao passar o mouse ou ao focar no item */
}

nav > ul > li:hover > a, nav > ul > li.active > a {
  color: #fff; /* Cor do texto ao passar o mouse ou ao focar no item */
}

/* HOME */
.folder{
  width: 100%; /* Largura total da seção */
  height: 100vh; /* Altura total da viewport */
  background-image: url(../imagens/bannerhome.jpg); /* Imagem de fundo */
  background-position: center; /* Posiciona a imagem de fundo no centro */
  background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
  background-size: cover; /* Faz a imagem de fundo cobrir todo o elemento */
}

.folder .centralizar{
  height: 100%; /* Altura total do contêiner centralizado dentro da .folder */
  display: flex; /* Define o layout flexível para o contêiner */
  flex-direction: column; /* Alinha os itens em coluna */
  justify-content: center; /* Alinha horizontalmente ao centro */
  align-items: flex-start; /* Alinha verticalmente ao topo */
  gap: 20px; /* Espaçamento entre os itens */
  padding: 100px 0 0 0; /* Adiciona algum preenchimento superior */
}

.folder h1{
  font-size: 110px; /* Tamanho da fonte do título */
  font-weight: 600; /* Peso da fonte do título */
  color: #3c4043; /* Cor do texto do título */
}

.folder h3{
  font-size: 22px; /* Tamanho da fonte do subtítulo */
  font-weight: 400; /* Peso da fonte do subtítulo */
  color: #333; /* Cor do texto do subtítulo */
  margin: 50px 0 100px 0; /* Margens superior e inferior do subtítulo */
  text-align: left; /* Alinha o texto à esquerda */
}

.paragrafo-container {
  display: flex; /* Define o layout flexível para o contêiner de parágrafos */
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: center; /* Alinha horizontalmente ao centro */
  gap: 50px;
  padding: 70px 0 70px 0; /* Adiciona algum preenchimento superior e inferior */
}

.paragrafo-container img {
  width: 370px; /* Largura das imagens dentro do contêiner */
  height: auto; /* Altura automática das imagens */
  margin: 0 15px; /* Margens laterais das imagens */
}

.left {
  flex-direction: row; /* Alinha os itens em linha (horizontal) */
}

.right {
  flex-direction: row-reverse; /* Alinha os itens em linha (horizontal) na ordem reversa */
}

.left p{
  padding-left: 50px; /* Adiciona preenchimento à esquerda dos parágrafos na classe .left */
}

.paragrafo-container p {
  max-width: 700px; /* Largura máxima dos parágrafos */
  line-height: 2rem; /* Altura da linha dos parágrafos */
  font-size: 22px; /* Tamanho da fonte dos parágrafos */
}

/* Estilos gerais do footer */
footer {
  background-color: #f1f1f1; /* Cor de fundo suave do footer */
  padding: 100px 0; /* Adiciona algum preenchimento superior e inferior */
  font-family: Arial, sans-serif; /* Define a fonte do texto do footer */
  color: #333; /* Cor do texto do footer */
}

footer .container {
  max-width: 1200px; /* Largura máxima do contêiner do footer */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 0 15px; /* Adiciona algum preenchimento lateral */
}

/* Estilização dos links adicionais */
footer .footer-links {
  margin-top: 30px; /* Margem superior dos links adicionais */
  text-align: center; /* Alinha o texto ao centro */
  border-top: 1px solid #979797; /* Linha de borda sutil na parte superior */
  display: flex; /* Define o layout flexível para os links adicionais */
  align-items: center; /* Alinha verticalmente ao centro */
  padding: 20px 0 20px 0; /* Adiciona algum preenchimento superior e inferior */
}

footer .footer-links a {
  display: inline-block; /* Exibe os links como blocos em linha */
  color: #555; /* Cor dos links adicionais */
  text-decoration: none; /* Remove o sublinhado dos links */
  margin: 0 10px; /* Margens laterais dos links adicionais */
  font-size: 14px; /* Tamanho da fonte dos links adicionais */
}

footer .footer-links a:hover {
  color: #007bff; /* Cor dos links adicionais ao passar o mouse */
}




/* Responsividade para dispositivos menores */


@media (max-width: 500px) {
  .centralizar{
    padding: 0 20px;
  }

  header{
    width: 100vw;
    gap: 0;
  }

  .container_principal {
    width: 100%;
    height: auto; /* Ajusta a altura para dispositivos pequenos */
    padding: 0 20px;
  }

  .menu-toggle{
    display: block;
  }

  .menu-and-logo-search {
    height: 60px;
    width: 100%;
    justify-content: space-between;
  }

  .logo{
    display: none;
  }

  .container_sub {
    display: none;
  }

  .folder{
    background-image: url(../imagens/bannermobile.png);
  }

  .folder .centralizar {
    padding: 0px 20px; /* Reduzido para dispositivos pequenos */
  }

  .folder h1 {
    font-size: 48px; /* Reduzido para melhor ajuste em telas pequenas */
  }

  .folder h3 {
    font-size: 16px; /* Reduzido para melhor ajuste em telas pequenas */
    margin: 20px 0 40px 0; /* Ajustado para menor espaçamento em telas pequenas */
  }

  .paragrafo-container {
    flex-direction: column; /* Alinha itens verticalmente em dispositivos pequenos */
    gap: 20px; /* Espaçamento reduzido */
    padding: 20px 0; /* Padding ajustado */
  }

  .paragrafo-container img {
    display: none;
  }

  .left, .right {
    flex-direction: column; /* Alinha os itens em coluna em dispositivos pequenos */
  }

  .left p {
    padding-left: 0; /* Remove o padding à esquerda */
    padding-top: 10px; /* Adiciona padding superior para separação */
  }

  .paragrafo-container p {
    font-size: 16px; /* Tamanho da fonte reduzido */
    max-width: 100%; /* Largura máxima ajustada para dispositivos pequenos */
  }

  footer{
    padding: 60px 0;
  }

  footer .footer-links {
    flex-direction: column;
    gap: 10px;
  }

}